<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>結果一覧</title>
    <style>
        h1 {
            color: green;
            padding-left: 10px;
            border-left: 10px solid #3cb371;
            border-bottom: 1px dashed #3cb371;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #3cb371;
            padding: 10px;
            text-align: left;
        }
    </style>
</head>

<body>
    <center>
        <h1>自己紹介まとめ</h1>
    </center>
    <a href="/voice_recognition">おすすめ機能</a>
    <div id="container"></div>

    <script>
        document.addEventListener("DOMContentLoaded", async (event) => {
            const createGroupSection = (group, introductions) => {
                h2 = document.createElement("h2");
                h2.innerText = group.group_name;
                p = document.createElement("p");
                p.innerText = group.overview;

                // username, 自己紹介文
                tbl = document.createElement("table");

                tblHead = document.createElement("thead");
                usernameTh = document.createElement("th");
                usernameTh.appendChild(document.createTextNode("ユーザー名"));
                introTh = document.createElement("th");
                introTh.appendChild(document.createTextNode("自己紹介文"));
                headTr = document.createElement("tr");
                headTr.appendChild(usernameTh);
                headTr.appendChild(introTh);
                tblHead.appendChild(headTr);

                rows = group.usernames.map((username) => {
                    intro = introductions.filter((intro) => intro.username === username)[0];

                    usernameTh = document.createElement("th");
                    usernameTh.appendChild(document.createTextNode(username));
                    introTd = document.createElement("td");
                    introTd.appendChild(document.createTextNode(intro.content));
                    row = document.createElement("tr");
                    row.appendChild(usernameTh);
                    row.appendChild(introTd);
                    return row;
                });
                tblBody = document.createElement("tbody");
                for (const row of rows) {
                    tblBody.appendChild(row);
                }

                tbl.appendChild(tblHead);
                tbl.appendChild(tblBody);

                div = document.createElement("div");
                for (const elm of [h2, p, tbl]) {
                    div.appendChild(elm);
                }
                return div;
            };

            const createIntroductions = (allResponses) => {
                const introductions = [];
                allResponses.forEach((intro_texts, index) => {
                    username = `ユーザー${index + 1}`;
                    intro_text = intro_texts.join("。");

                    introductions.push({
                        username: username,
                        content: intro_text,
                    });
                });
                return introductions;
            };

            const splitGroups = async (introductions) => {
                if (introductions.length === 0) {
                    return [];
                }

                const response = await fetch("/table", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({data: introductions}),
                });
                response_json = await response.json();
                return response_json.result;
            };
            // `localStorage` から音声認識データを取得
            // allResponsesは配列
            //   index: ユーザーインデックス
            //   value: 発言内容のテキストの配列
            //          ["内容１", "内容２"]
            const allResponses = JSON.parse(localStorage.getItem("allResponses")) || [];
            const introductions = createIntroductions(allResponses);
            // groupsは以下を要素としてもつリスト
            // {
            //   "group_name": "グループ名",
            //   "overview": "特徴",
            //   "usernames": ["ユーザー１", "ユーザー２"]
            // }
            const groups = await splitGroups(introductions);

            container = document.getElementById("container");
            groupSections = groups.map((group) =>
                createGroupSection(group, introductions),
            );
            for (const groupSection of groupSections) {
                container.appendChild(groupSection);
            }
        });
    </script>

</body>

</html>
